:root {
  --bg: #3c3c3c;
  --text: #ccc;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #000;
  color: var(--text);
  font-family: monospace;
  display: flex;
  justify-content: center;
}

#root {
  border: 1px solid var(--text);
  width: 1200px;
  margin: 16px;
  padding: 8px;
  box-sizing: border-box;
  min-height: calc(100% - 32px);
}
